<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Collection generator</title>
</head>
<body>

<div>
    <div>
        <h1 th:utext="${message}"></h1>
        <form th:action="@{/index}"
              th:object="${dto}" method="POST">
            I want to generate a list with
            <input type="text" th:field="*{quantity}"/> employees
            <br/>
            <input type="submit" value="Create" />
        </form>
    </div>
</div>
</body>
</html>